    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                <div class="form-helper-main">
                    <form #curriculoForm="ngForm" (ngSubmit)="onSubmit(curriculo)">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" class="form-control tam-10" id="nome" placeholder="Digite seu nome" required [(ngModel)]="curriculo.nome" #nome="ngModel">
                            <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">Nome é obrigatório </div>
                        </div>
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <select name="cidade" class="form-control tam-5" id="cidade" required [(ngModel)]="curriculo.cidade" #cidade="ngModel">
                                <option></option>
                                <option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.cidade}}</option>
                            </select>
                            <div [hidden]="cidade.valid || cidade.pristine" class="alert alert-danger tam-5">Cidade é obrigatório</div>
                        </div>
                        <div class="form-group">
                            <label for="resumo-ex">Resumo</label>
                            <textarea class="form-control" id="resumo-ex" rows="15" name="resumo" placeholder="Conte-me sobre suas experiências profissionais" required [(ngModel)]="curriculo.resumo" #resumo="ngModel"></textarea>
                            <div [hidden]="resumo.valid || resumo.pristine" class="alert alert-danger">Resumo é obrigatório </div>
                        </div>
                       <div class="d-flex flex-column form-group">
                           <label [ngClass]="{'requerido': exux.pristine}">Experiência com UX? </label>
                           <div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="ux-experiencia" id="ux-experiencia0" [value]="false" [(ngModel)]="curriculo.exUx" required #exux="ngModel">
                                   <label class="form-check-label" for="ux-experiencia0">Não</label>
                               </div>
                               <div class="form-check form-check-inline">
                                   <input class="form-check-input" type="radio" name="ux-experiencia" id="ux-experiencia1" [value]="true" [(ngModel)]="curriculo.exUx" required #exux="ngModel">
                                   <label class="form-check-label" for="ux-experiencia1">Sim</label>
                               </div>
                           </div>
                       </div>                       
                        <div class="d-flex flex-column form-group">
                            <label [ngClass]="{'requerido': exjs.pristine}">Experiência com Javascript?</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="js-experiencia" id="js-experiencia0" [value]="false" [(ngModel)]="curriculo.exJs" required #exjs="ngModel">
                                    <label class="form-check-label" for="js-experiencia0">Não</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="js-experiencia" id="js-experiencia1" [value]="true" [(ngModel)]="curriculo.exJs" required #exjs="ngModel">
                                    <label class="form-check-label" for="js-experiencia1">Sim</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column form-group">
                            <label [ngClass]="{'requerido': exds.pristine}">Experiência com Design de Interfaces?</label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="di-experiencia" id="di-experiencia0" [value]="false" [(ngModel)]="curriculo.exDs" required #exds="ngModel">
                                    <label class="form-check-label" for="di-experiencia0">Não</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="di-experiencia" id="di-experiencia1" [value]="true" [(ngModel)]="curriculo.exDs" required #exds="ngModel">
                                    <label class="form-check-label" for="di-experiencia1">Sim</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resumo-ex">E-mail</label>
                            <input type="email" class="form-control tam-10" id="email" name="email" placeholder="nome@exemplo.com" required [(ngModel)]="curriculo.email" #email="ngModel">
                            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">E-mail é obrigatório </div>
                        </div>
                        <div class="form-group">
                            <label for="genero">Gênero</label>
                            <select name="genero" class="form-control tam-2" id="genero" required [(ngModel)]="curriculo.genero" #genero="ngModel">
                                <option></option>
                                <option value="masculino">Masculino</option>
                                <option value="feminino">Feminino</option>
                                <option value="indefinido">Indefinido</option>
                            </select>
                            <div [hidden]="genero.valid || genero.pristine" class="alert alert-danger tam-2">Gênero é obrigatório </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success" [disabled]="!curriculoForm.form.valid">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>